* {
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-container,
.introduction-section,
.section-one-container,
.section-two-container,
.section-three-container {
    width: 1100px;
    padding: 16px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header,
.footer {
    background-color: #1f2937;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
}

.img {
    width: 500px;
    border-radius: 10px;
    border: 2px solid white;
}

.introduction-left {
    width: 600px
}

.introduction-section {
    margin: 128px;
}

.introduction-section {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.logo {
    align-items: center;
    font-size: 24px;
    font-weight: 900px;
}

.intro-hook {
    font-size: 42px;
}

.link-container {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
    align-items: center;
    list-style: none;

}

button {
    width: 120px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3882f6;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    border-style: none;
    border: 2px solid white;
}

.main-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.section-one {
    display: flex;
    justify-content: center;
}

.section-one-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 128px;
    align-items: center;
}

.section-two {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.section-two-container {
    font-size: 30px;
    text-align: left;
    width: 750px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-end;
    margin: 128px;
    font-style: italic;
    color: #1f2937;
}

.section-two-container > * {
    margin: 5px;
}

.author {
    font-size: 24px;
}

.info-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 64px;
    justify-content: center;
}

.info-card {
    width: 150px;
    word-break:break-all;
    text-align-last: center;
}

.info-img {
    height: 150px;
    background-color: white;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.section-title {
    margin-bottom: 32px;
}

.section-three {
    display: flex;
    justify-content: center;
    padding: 48px;
}

.call-to-action-box {
    padding: 32px;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.call-to-action-box * {
    margin: 0;
}

.call-to-action-left {
    margin-left: 60px;
    color: white;
    text-align: left;
}

.sign-up-button {
    margin-right: 60px;
}